/* --------------------------------------
    RESET
----------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* -------------------------------------------------------
    GENERAL
---------------------------------------------------------- */
html {
    overflow-y: scroll;
}

body {
    font-family: Georgia, Serif;
    font-size: 16px;
    line-height: 25px;
    color: #3B3B3B;
    background: /* url(../images/25-pixel-baseline.png) left top repeat, */ url(images/bg.png) left top repeat;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

p {
    margin-bottom: 25px;
}

p.intro {
    font-size: 18px;
}

/* links */
a:link, a:visited {
    color: #285935;
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus, a:active {
    color: #5E1F00;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.9px;
    color: #046416;
    margin-left: -2px;
}

h2 {
    font-size: 22px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

/* Lists */
ul, ol {
    margin-bottom: 25px;
    padding: 0 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dl {
    margin-bottom: 25px;
}

dt {
    font-weight: bold;
    color: #046416;
}

dd {
    padding-left: 20px;
}

blockquote {
    margin: 25px 0;
    padding-left: 40px;
    padding-right: 30px;
    background: url(images/quote.png) no-repeat 3px 0;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
}

input, select {
    vertical-align: middle;
}

strong, b {
    font-weight: bold;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

mark {
    background-color: #FDD2B3;
}

/* Clearing and Alignment Classes */
.align-left {
    float: left;
}

.align-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.ie7 .clearfix {
    zoom: 1;
}

/* IE7 */

/* ------------------------------------------------------
    STRUCTURE
--------------------------------------------------------- */
#header-wrap {
    background: url(images/header-bg.png);
    width: 100%;
    height: 70px;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
}

header {
    position: relative;
    width: 940px;
    height: 70px;
    margin: 0 auto;
}

.content-wrap {
    width: 940px;
    margin: 0 auto;
}

.content-wrap section {
    position: relative;
    padding: 125px 0 25px 0;
    background: url(images/section-sep.png) repeat-x left 25px;
}

.content-wrap section section {
    background: none;
    margin: 0;
}

.content-wrap section .row {
    clear: both;
    overflow: hidden;
    margin-bottom: 25px;
}

.content-wrap section .row .col {
    float: left;
    margin: 0;
    padding: 0;
    width: 290px;
}

.content-wrap section .row .mid {
    margin-left: 35px;
    margin-right: 35px;
}

.content-wrap section .no-bottom-margin {
    margin-bottom: 0;
}

.content-wrap section .primary {
    float: left;
    width: 620px;
}

.content-wrap section .primary p.intro {
    /* margin: 15px 0 10px 0; */
    margin: 15px 0 25px 0;
}

.content-wrap section aside {
    float: right;
    width: 285px;
}

.content-wrap section aside h2 {
    margin: 12.5px 0 12.5px 0;
}

.content-wrap section aside ul.link-list {
    font-size: 16px;
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    background: url(images/section-sep.png) repeat-x left top;
}

.content-wrap section aside ul.link-list li {
    background: url(images/section-sep.png) repeat-x left bottom;
    padding-left: 3px;
}

.content-wrap section aside ul.link-list li a {
    display: block;
    color: #3B3B3B;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.content-wrap section aside ul.link-list li a:hover,
.content-wrap section aside ul.link-list li a:focus,
.content-wrap section aside ul.link-list li a:active {
    color: #285935;
}

.content-wrap section aside .testimonials {
    margin: 0 0 25px 0;
}

.content-wrap section aside .testimonials blockquote {
    font-style: italic;
    font-size: 16px;
    padding-left: 27px;
    background: url(images/quote-open.png) no-repeat left 5px;
    margin: 12.5px 0;
}

.content-wrap section aside .testimonials blockquote p {
    margin-bottom: 0;
}

.content-wrap section aside .testimonials blockquote cite {
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
}

.content-wrap section .back-to-top {
    display: block;
    position: absolute;
    bottom: -65px;
    right: 10px;
    height: 43px;
    width: 43px;
    background: url(images/back-to-top.png);
    text-indent: -9999px;
    z-index: 9999;
}

.ie7 .content-wrap section .back-to-top {
    bottom: -70px;
}

footer {
    position: relative;
    background: url(images/section-sep.png) repeat-x left 25px;
    width: 940px;
    margin: 0 auto;
    padding-top: 125px;
}

/* -------------------------------------------
    Header
-------------------------------------------- */


/* Main Navigation */
header nav {
    float: right;
    margin-top: 25px;
}

header nav ul {
    font: bold 15px/25px Helvetica, Arial, Sans-serif;
    margin-right: -5px;
    padding: 0;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul a:link, header nav ul a:visited {
    color: #c5c4c4;
    margin-right: 20px;
    text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
}

header nav ul a:hover,
header nav ul a:active {
    color: #17a231
}

/* -----------------------------------------
    Main Section
------------------------------------------ */
section#main {
    width: 940px;
    background: none;
}

section#main h1 {
    margin-top: 10px;
    margin-bottom: 15px;
}

section#main .intro-box {
    float: left;
    width: 460px;
    min-height: 300px;
}

section#main .row .col h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}


/* -----------------------------------------
   Services
------------------------------------------- */
section#services h1 {
    margin: 0 0 25px 0;
}

section#services .row .col img.align-left {
    margin-top: 13px;
    margin-right: 12px;
}

/* ----------------------------------------------------
    Footer
----------------------------------------------------- */
footer p.footer-text {
    font-family: "MerriweatherRegular", Serif;
    font-size: .75em;
    padding: 5px 10px;
    margin-bottom: 0;
    clear: both;
}

footer .footer-content {
    position: relative;
    width: 900px;
    top: -105px;
}

footer ul.footer-menu {
    float: left;
    margin: 20px 0 5px -3px;
    padding: 0;
    list-style: none;
}

footer ul.footer-menu li {
    float: left;
}

footer ul.footer-menu li a {
    display: block;
    font-family: "MerriweatherBold", Serif;
    font-size: .75em;
    line-height: 1em;
    color: #3B3B3B;
    padding: 1px 12px;
    border-left: 1px solid #ADADAD;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

footer ul.footer-menu li a:hover,
footer ul.footer-menu li a:focus,
footer ul.footer-menu li a:active {
    color: #285935;
}

footer ul.footer-menu li.rss-feed a {
    background: url(images/rss.png) no-repeat right 0;
    padding-right: 20px;
}

footer ul.footer-menu li:first-child a {
    border: none;
}

