{% extends 'base.html' %}

<script>
    {% block jquery %}
        var endpoint = '/api/chart/data/'
        var defaultData = []
        var wszytko2015 = []
        var wszytko2014 = []
        var wszytko2013 = []
        var wszytko2012 = []
        var labels = []
        var wszystko2 = []
        var zyskN = []
        var zyskB = []
        var sredniePrzy = 0
        var srednieN = 0
        var srednieB = 0
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                labels = data.labels
                defaultData = data.default
                wszytko2015 = data.all2015
                wszytko2014 = data.all2014
                wszytko2013 = data.all2013
                wszytko2012 = data.all2012
                wszytko2 = data.allLabels
                zyskN = data.zyskN
                zyskB = data.zyskB
                sredniePrzy = data.avgPrzy
                srednieN = data.avgZyskN
                srednieB = data.avgZyskB
                setChart()

            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {
            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var ctx3 = document.getElementById("myChart3");
            var ctx4 = document.getElementById("myChart4");

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: ['przychody','    średnie pzychody: ', sredniePrzy],
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: ['Zysk netto','  średni zysk netto', srednieN],
                        data: zyskN,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
            var myChart3 = new Chart(ctx3, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: ['Zysk brutto',' sredni zysk brutto: ',srednieB],
                        data: zyskB,

                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
            var myChart4 = new Chart(ctx4, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Działalność finansowa',
                        data: dzFinansowa,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })

        }


        {#var ctx = document.getElementById("myChart").getContext('2d');#}
        {#var myChart = new Chart(ctx, {#}
        {#    type: 'bar',#}
        {#    data: {#}
        {#        labels: labels,#}
        {#        datasets: [{#}
        {#            label: '# of Votes',#}
        {#            data: defaultData,#}
        {#            backgroundColor: [#}
        {#                'rgba(255, 99, 132, 0.2)',#}
        {#                'rgba(54, 162, 235, 0.2)',#}
        {#                'rgba(255, 206, 86, 0.2)',#}
        {#                'rgba(75, 192, 192, 0.2)',#}
        {#                'rgba(153, 102, 255, 0.2)',#}
        {#                'rgba(255, 159, 64, 0.2)'#}
        {#            ],#}
        {#            borderColor: [#}
        {#                'rgba(255,99,132,1)',#}
        {#                'rgba(54, 162, 235, 1)',#}
        {#                'rgba(255, 206, 86, 1)',#}
        {#                'rgba(75, 192, 192, 1)',#}
        {#                'rgba(153, 102, 255, 1)',#}
        {#                'rgba(255, 159, 64, 1)'#}
        {#            ],#}
        {#            borderWidth: 1#}
        {#        }]#}
        {#    },#}
        {#    options: {#}
        {#        scales: {#}
        {#            yAxes: [{#}
        {#                ticks: {#}
        {#                    beginAtZero: true#}
        {#                }#}
        {#            }]#}
        {#        }#}
        {#    }#}
        {##}


    {% endblock %}
</script>

{% block content %}

    <!-- header-wrap -->
    <div id="header-wrap">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Strona startowa</a></li>
                    <li><a href="{% url 'home' %}#services">Wykresy</a></li>
                    <li><a href="{% url 'dodanie_danych' %}">Dodaj dane</a></li>
                    <li><a href="{% url 'years' %}">Poszczególne lata</a></li>

                </ul>
            </nav>

        </header>
    </div>

    <!-- content-wrap -->
    <div class="content-wrap">

        <!-- main -->
        <section id="main">

            <h1>Witaj!</h1>

            <p class="intro">
                Celem naszego projektu było zaprojektowanie i zaimplementowanie aplikacji webowej do zbierania i
                analizowania informacji marketingowych
                na zadany temat. Wynikiem naszej pracy jest własnie ta oto strona, która pozwala na analizę danych
                marketingowych przykładowej firmy.

            </p>


            <div class="row no-bottom-margin">

                <section class="col">
                    <h2>System informacji marketingowych</h2>

                    <p>Sformalizowany i powiązany wewnętrznie zespół osób, urządzeń oraz procedur stworzonych w celu
                        zapewnienia uporządkowanego dopływu trafnych informacji ze źródeł wewnętrznych i zewnętrznych na
                        potrzeby podejmowania decyzji marketingowych. To metoda ciągłego planowania, zbierania i
                        przechowywania
                        oraz analizy danych.</p>
                </section>
                <section class="col mid">
                    <h2>Firma Amica S.A.</h2>

                    <p>Polskie przedsiębiorstwo przemysłu elektromaszynowego z siedzibą we Wronkach,
                        produkujące sprzęt AGD, od 1997 r. Amica jest notowana na Giełdzie Papierów Wartościowych w
                        Warszawie.Marka Amica należy do najbardziej rozpoznawalnych marek na rynku polskim. Pomimo
                        rosnącej
                        konkurencji z zagranicy Amica pozostaje liderem na rodzimym rynku z udziałami kształtującymi się
                        na poziomie 18 procent.</p>
                </section>

                <section class="col">
                    <h2>Analiza marketingowa</h2>

                    <p>Polega na ocenie zintensyfikowania działań marketingowych oraz na poszukiwaniu lepszego
                        wzbogacenia danej firmy poprzez
                        posiadanie odpowiednich i niezbędnych informacji o określonym rynku, znalezienie miejsca firmy w
                        tym otoczeniu oraz
                        zwiększenie sprzedaży na tym rynku a co za tym idzie zwiększenie potencjału firmowego. </p>
                </section>
            </div>


        </section>

        <!-- services -->
        <section id="services">

            <h1>Wykresy</h1>
            <p>Przykładowe wykresy przedstawiające zysk netto oraz przychody firmy Amica S.A. w przeciągu czterech lat
                od 2012 do 2015 roku.</p>
            <div class='row'>
                <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
                    <div class='col-sm-6'>

                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class='col-sm-6'>
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>

                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
                    <div class='col-sm-6'>
                        <canvas id="myChart3" width="400" height="400"></canvas>
                    </div>
                    <div class='col-sm-6'>
                        <canvas id="myChart4" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <a class="back-to-top" href="#main">Back</a>


        </section>
    </div>
    <!-- footer -->
    <footer>
        <div class="footer-content">
            <ul class="footer-menu">
                <li><a href="{% url 'home' %}">Strona startowa</a></li>
                <li><a href="{% url 'home' %}#services">Wykresy</a></li>
                <li><a href="{% url 'dodanie_danych' %}">Dodaj dane</a></li>
                <li><a href="{% url 'years' %}">Poszczególne lata</a></li>
            </ul>

        </div>

    </footer>



{% endblock content %}