{% extends 'base.html' %}

<script>
    {% block jquery %}
        var endpoint = '/api/chart/data/'
        var defaultData = []
        var wszytko2015 = []
        var wszytko2014 = []
        var wszytko2013 = []
        var wszytko2012 = []
        var labels = []
        var wszystko2 = []
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                labels = data.labels
                defaultData = data.default
                wszytko2015 = data.all2015
                wszytko2014 = data.all2014
                wszytko2013 = data.all2013
                wszytko2012 = data.all2012
                wszytko2 = data.allLabels
                setChart()

            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {
            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var ctx3 = document.getElementById("myDoughnutChart");
            var ctx2014 = document.getElementById("myDoughnutChart2014");
            var ctx2013 = document.getElementById("myDoughnutChart2013");
            var ctx2012 = document.getElementById("myDoughnutChart2012");
            var myChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Przychody',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Przychody',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })

        }


        {#var ctx = document.getElementById("myChart").getContext('2d');#}
        {#var myChart = new Chart(ctx, {#}
        {#    type: 'bar',#}
        {#    data: {#}
        {#        labels: labels,#}
        {#        datasets: [{#}
        {#            label: '# of Votes',#}
        {#            data: defaultData,#}
        {#            backgroundColor: [#}
        {#                'rgba(255, 99, 132, 0.2)',#}
        {#                'rgba(54, 162, 235, 0.2)',#}
        {#                'rgba(255, 206, 86, 0.2)',#}
        {#                'rgba(75, 192, 192, 0.2)',#}
        {#                'rgba(153, 102, 255, 0.2)',#}
        {#                'rgba(255, 159, 64, 0.2)'#}
        {#            ],#}
        {#            borderColor: [#}
        {#                'rgba(255,99,132,1)',#}
        {#                'rgba(54, 162, 235, 1)',#}
        {#                'rgba(255, 206, 86, 1)',#}
        {#                'rgba(75, 192, 192, 1)',#}
        {#                'rgba(153, 102, 255, 1)',#}
        {#                'rgba(255, 159, 64, 1)'#}
        {#            ],#}
        {#            borderWidth: 1#}
        {#        }]#}
        {#    },#}
        {#    options: {#}
        {#        scales: {#}
        {#            yAxes: [{#}
        {#                ticks: {#}
        {#                    beginAtZero: true#}
        {#                }#}
        {#            }]#}
        {#        }#}
        {#    }#}
        {##}


    {% endblock %}
</script>

{% block content %}

    <!-- header-wrap -->
    <div id="header-wrap">
        <header>
            <nav>
                <ul>
                    <li><a href="#main">Strona startowa</a></li>
                    <li><a href="{% url 'home' %}#services">Wykresy</a></li>
                    <li><a href="{% url 'dodanie_danych' %}">Dodaj dane</a></li>
                    <li><a href="{% url 'years' %}">Poszczególne lata</a></li>

                </ul>
            </nav>

        </header>
    </div>

    <!-- content-wrap -->
    <div class="content-wrap">

        <!-- main -->
        <section id="main">

            <h1>Witaj!</h1>

            <p class="intro">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum."</p>


            <div class="row no-bottom-margin">

                <section class="col">
                    <h2>Creative Ideas</h2>

                    <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                        acus duis in dictumst non integer! Elit, sed scelerisque odio tortor, sed platea dis? Quis
                        cursus parturient ac amet odio in? Nunc Amet urna scelerisque eu lectus placerat.</p>
                </section>
                <section class="col mid">
                    <h2>Innovation</h2>

                    <p>Pellentesque magna mi, iaculis pharetra eu, fermentum ullamcorper nisi.
                        Integer fringilla magna ut quam vulputate erat. Pulvinar cum, ac eu augue ut sit amet
                        gravida lacinia, eros massa condimentum sem, a fermentum ligula lorem non.
                        Phasellus vulputate.</p>
                </section>

                <section class="col">
                    <h2>Design and Development</h2>

                    <p>In hac habitasse platea risus dictumst. Suspendisse sit amet enim arcu. Aliquam erat volutpat.
                        Phasellus a dui nisi. Nunc nec quam vitae nisl vehicula euismod. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Sed commodo ligula blandit risus.</p>
                </section>
            </div>

            <a class="back-to-top" href="#main">Back</a>

        </section>

        <!-- services -->
        <section id="services">

            <h1>Wykresy</h1>
            <div class='row'>
                <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
                    <div class='col-sm-6'>
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class='col-sm-6'>
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>

                </div>
            </div>



        </section>


    </div>




{% endblock content %}