{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    {% include 'base/css.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<!-- header-wrap -->
<div id="header-wrap">
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Strona startowa</a></li>
                <li><a href="{% url 'home' %}#services">Wykresy</a></li>
                <li><a href="{% url 'dodanie_danych' %}">Dodaj dane</a></li>

            </ul>
        </nav>

    </header>
</div>

<!-- content-wrap -->
<div class="content-wrap">

    <!-- main -->

    <section id="services">

        <h1>Dane</h1>
        <ul>
            {% for data in datas %}
                <a href="{% url 'update_datas' data.id %}">
                    <li> {{ data.rok }} </li>
                </a>
            {% endfor %}
        </ul>

        <button>
            <a href="{% url 'create_datas' %}">Dodaj dane</a>
        </button>


    </section>


</div>

<!-- footer -->
<footer>
    <div class="footer-content">
        <ul class="footer-menu">
                <li><a href="{% url 'home' %}">Strona startowa</a></li>
                <li><a href="{% url 'home' %}#services">Wykresy</a></li>
                <li><a href="{% url 'dodanie_danych' %}">Dodaj dane</a></li>
        </ul>

    </div>

</footer>


</body>
</html>